html {
  font-size: 10px;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  text-align: center;
  background: rgb(78, 9, 121);
  background: linear-gradient(
    130deg,
    rgba(78, 9, 121, 1) 24%,
    rgba(0, 12, 36, 1) 51%,
    rgba(255, 0, 0, 0.989233193277311) 100%
  );
  color: gold;
  background-repeat: no-repeat;
  background-position: 100%;
  margin: 0;
}
h1 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 24%,
    rgba(245, 255, 0, 0.989233193277311) 100%
  );
  font-size: 5rem;
  margin-bottom: 0;
}
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
